<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/base.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename = 'css/footer.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename = 'css/header.css')}}">
        {% block links %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div id="links">
                    <a href="/catalog" id="catalog-link">КАТАЛОГ</a>
                    <a href="#" class="link">ПРО НАС</a>
                    <a href="#" class="link">КОНТАКТИ</a>
                </div> 
                <a href="/"><img id = "logo" src="{{ url_for('static', filename = 'images/Logo.svg') }}" alt=""></a>
                <div id="profile">
                    <a href="/cart" id="cart-block">
                        <img src="{{ url_for('static', filename = 'images/Cart.svg') }}" alt="">
                        {% if count_cart > 0 %}
                            {% if count_cart >= 10 %}
                                <p id="count-cart">9+</p>
                            {% else %}
                                <p id="count-cart">{{ count_cart }}</p>
                            {% endif %}
                        {% endif %}
                    </a>
                    <a href="/login"><img src="{{ url_for('static', filename = 'images/Profile.svg') }}" alt=""></a>
                </div>
            </nav>
            {% block header %}{% endblock %}
        </header>
        <main>{% block content %}{% endblock %}</main>
        
        <footer>
            <div id="elips-footer" class="ellipse"></div>
            <div id="rating">
                <div class="rating-block">
                    <h3>1к+</h3>
                    <p>Успішних відправок</p>
                </div>
                <div class="rating-block">
                    <h3>1.5к+</h3>
                    <p>Задоволених клієнтів</p>
                </div>
                <div class="rating-block">
                    <h3>24/7</h3>
                    <p>Підтримка клієнтів</p>
                </div>
            </div>
            <img src="{{ url_for('static', filename = 'images/Big-logo.svg' ) }}" alt="" id="Big-logo">
            <div id="nav-footer">
                <nav>
                    <a href="/catalog">Каталог</a>
                    <a href="#">Про нас</a>
                    <a href="#">Контакти</a>
                    <a href="/cart">Кошик</a>
                    <a href="#">Кабінет</a>
                </nav>
                <div id="license">
                    <hr>
                    <p>© 2025 Drones Всі права захищені.</p>
                </div>
            </div>
            
        </footer>
        {% block modal %}{%endblock%}
    </body>
</html> 