*{
    margin: 0;
    padding: 0;
}


#catalog-link{
    color: crimson;
}
.link{
    color: yellow;
}

/* 
селектор в css потрібен для вибору елементів

в css стилі - селектор{назва:значення}

Види селекторів: 
1 За тегом 
2 За id # - для одного елементу
3 За class . - для групування елементів 
4 Для всіх елементів *
*/