{%extends "base.html"%}

{%block title%}
Catalog
{%endblock%}

{%block content %}
    {% if admin %}
        <form method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="`Назва">
            <input type="number" name="price" placeholder="Ціна">
            <input type="number" name="count" placeholder="Кіл. Товарів">
            <input type="number" name="discount" placeholder="Знижка">
            <textarea name="description" placeholder="Опис"></textarea>
            <input type="file" name="image" accept= "image/*" >
            <button type="submit">Відправити</button>
        </form>
    {% endif %}
    <h2 class="title">Каталог</h2>
    <div id = 'catalog-container'>
        <div id = "filters">
            <div>Всі</div>
            <div>
                <img src="{{ url_for('shop_app.static', filename = 'images/filter1.png' ) }}" alt="">
            </div>
            <div>
                <img src="{{ url_for('shop_app.static', filename = 'images/filter2.png' ) }}" alt="">
            </div>
        </div>
        <div id="products">
            {% for product in products %}
                <div class="product">
                    <img src="{{ url_for('shop_app.static', filename = product.get_path() ) }}" alt="">
                    <div class="text">
                        <h5>{{product.name}}</h5>
                        <p>{{product.price}} ₴</p>
                    </div>
                    <a href="/buy/{{product.id}}" class="buy-button"><img src="{{ url_for('shop_app.static', filename = 'images/buy.svg' ) }}" alt=""></a>
                </div>
                {% if admin %}
                    <a href="/delete/{{ product.id }}">
                        <button>Видалити</button>
                    </a>
                    <a href="/change/{{product.id}}">
                        <button>Змінити</button>
                    </a>
                {% endif %}
            {% endfor%}
        </div>
    
        <div id = "paginations">
            {% if page > 1%}
                <a class="pagination" href="/catalog?page={{page-1}}">
                    <img src="{{ url_for('shop_app.static', filename = 'images/arrowR.png' ) }}" alt="" style="rotate: 180deg">
                </a>
            {% else %}
                <!-- 
                    Якщо потрібно задати декілька класів/id - "назва1 назва2"
                -->
                <div class = "pagination disabled">
                    <img src="{{ url_for('shop_app.static', filename = 'images/arrowR.png' ) }}" alt="" style="rotate: 180deg">
                </div>
            {% endif %}
            
            {% for pag_btn in pagination%}
                {% if pag_btn == "..."%}
                    <div class="pagination">...</div>   
                {% else %}
                    <a href="/catalog?page={{pag_btn}}">
                        {% if pag_btn == page %}
                            <div class="pagination" style="background-color: #F4F4F4;">{{pag_btn}}</div> 
                        {% else %}
                            <div class="pagination">{{pag_btn}}</div> 
                        {% endif %}
                    </a>
                {%endif%}
            {% endfor %}
            
            {% if page < count_page %}
                <a class="pagination" href="/catalog?page={{page+1}}">
                    <img src="{{ url_for('shop_app.static', filename = 'images/arrowR.png' ) }}" alt="">
                </a>
            {%else%}
                <div class = "pagination disabled">
                    <img src="{{ url_for('shop_app.static', filename = 'images/arrowR.png' ) }}" alt="">
                </div>
            {% endif %}
        </div>
    </div>
{%endblock%}

{%block links %}
<link rel="stylesheet" href="{{url_for('home.static', filename = 'css/product.css')}}">
<link rel="stylesheet" href="{{url_for('shop_app.static', filename = 'css/catalog.css')}}">
{%endblock%}